<!-- MODIFICAR -->
<section class="container section" id="modificar" style="display: block;">
    <h4>Modificar despacho</h4>
    <div>
      <form id="formModificarRut">
          <input type="text" id="rutInputModificar" autocomplete="off" name="rut" required="" oninput="checkRut(this)" placeholder="Ingrese RUT">
          <button class="btn" type="submit">Validar Run y enviar</button>
      </form>
    </div>
    <div>
        <table id="tablaModificarRut" class="striped hide">
    <thead>
    <!-- Nombre de cada columna -->
            <tr>
                <th>N°</th>
                <th>cod</th>
                <th>Producto</th>
                <th>nombre</th>
      <th>apellido</th>
      <th>region</th>
      <th>calle</th>
      <th>comuna</th>
      <th>N°/Depa</th>
      <th>precio</th>
            </tr>
  </thead>
  <!-- Datos de la tabla -->
          <tbody id="datosTablaRut">
          </tbody>
        </table>
    </div>
    
    <form id="formDatosModificar" class="hide">
      <h6><b>Modificación los campos.</b></h6>
      <div>
          <h6>Ingrese su nombre</h6>
          <input type="text" name="nombre" id="nombre" required="">
      </div>
      <div class="autocomplete">
          <h6>Ingrese su apellido</h6>
          <input class="inputBorder" type="text" name="apellido" id="apellido" required="">
      </div>
      <div class="autocomplete">
          <span>Ingrese su Region</span>
          <input class="inputBorder" autocomplete="off" type="text" name="region" id="region" required="">
      </div>
      <div class="autocomplete">
          <span>Ingrese su comuna</span>
          <input class="inputBorder" autocomplete="off" type="text" name="comuna" id="comuna" required="">
      </div>
      <div class="autocomplete">
          <span>Ingrese su calle</span>
          <input class="inputBorder" type="text" name="calle" id="calle" required="">
      </div>
      <div class="autocomplete">
          <span>Ingrese su departamento</span>
          <input class="inputBorder" type="text" name="departamento" id="departamento">
      </div>
      <button class="btn" type="submit">Modificar</button>
  </form>
  </section>

  