<!-- SOLICITAR -->
<section class="container section" id="solicitar">
    <h4>Solicitar despacho</h4>
    <h6>Elementos a despachar: </h6>
      <table id="tablacarrito" class="striped">
      <thead>
        <tr>
          <th>N°</th>
          <th>Cod Producto</th>
          <th>Nombre producto</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody id="datosTablaCarrito">
      </tbody>
      </table>
    <div>
<h6><b>Para proceder con el despacho, ingrese su run.</b></h6>
<form id="formRutSolicitar">
  <input type="text" autocomplete="off" id="rut" name="rut" required oninput="checkRut(this)" placeholder="Ingrese RUT">
  <button class="btn" type="submit">Validar RUT y Enviar</button>
</form>
    </div>
    <form id="formDatosSolicitar" class="hide">
      <div >
          <span>Ingrese su nombre</span>
          <input type="text" name="nombre" id="nombre" required>
      </div>
      <div class="autocomplete">
          <span>Ingrese su apellido</span>
          <input class="inputBorder" type="text" name="apellido" id="apellido" required>
      </div>
      <div class="autocomplete">
          <span>Ingrese su Region</span>
          <input class="inputBorder" autocomplete="off" type="text" name="region" id="region" required>
      </div>
      <div class="autocomplete">
          <span>Ingrese su comuna</span>
          <input class="inputBorder" autocomplete="off" type="text" name="comuna" id="comuna" required>
      </div>
      <div class="autocomplete">
          <span>Ingrese su calle</span>
          <input class="inputBorder" type="text"  name="calle" id="calle" required>
      </div>
      <div class="autocomplete">
          <span>Ingrese su departamento</span>
          <input class="inputBorder" type="text" name="departamento" id="departamento">
      </div>
      <button class="btn" type="submit">Enviar</button>
  </form>
  </Section>